@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-100: #F0F8FE;
  --color-brand-500: #D84510;
  --color-brand-600: #C7340F;
  --color-accent-100: #E7F2FE;
  --color-accent-200: #D2E7F9;
  --color-accent-300: #C0DCF2;
  --color-accent-400: #99C7E5;
  --color-accent-500: #6CB5E0;
  --color-accent-600: #2283C3;
  --color-accent-700: #16629C;
  --color-accent-800: #0A4376;
  --color-accent-900: #042649;
  --color-neutral-100: #EFF2F5;
  --color-neutral-200: #E0E5EB;
  --color-neutral-300: #C4CAD4;
  --color-neutral-400: #8A98A8;
  --color-neutral-500: #73808C;
  --color-neutral-600: #576775;
  --color-neutral-700: #414F58;
  --color-neutral-800: #33444D;
  --color-neutral-900: #161B1D;
}

html {
  font-size: 16px;
}

.page-row {
  @apply mx-auto w-full px-4 sm:px-6 lg:px-10 xl:px-0 xl:max-w-11/12 2xl:max-w-10/12;
}

  